@(bookForm :Form[Book])
@import helper._
@main("edit book"){
<h1>edit book</h1>
@helper.form(action = routes.HomeController.update()) {
@helper.inputText(bookForm("name"), '_label -> "Name", 'placeholder -> "Enter book Name")
@helper.inputText(bookForm("status"), '_label -> "Status", 'placeholder -> "Enter book status")
@helper.inputText(bookForm("author"), '_label -> "Author", 'placeholder -> "Enter author name")
@helper.inputText(bookForm("price"), '_label -> "Price", 'placeholder -> "Enter book price", 'type -> "number", 'step -> "0.01")
<button type="submit">save changes</button>
}
}
